.authorImageWrapper img {
  border-radius: 50%;
}

.icon {
  height: 1.25em;
  width: 1.25em;
  display: inline-block;
}

.icon-github {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M10%200c5.523%200%2010%204.59%2010%2010.253%200%204.529-2.862%208.371-6.833%209.728-.507.101-.687-.219-.687-.492%200-.338.012-1.442.012-2.814%200-.956-.32-1.58-.679-1.898%202.227-.254%204.567-1.121%204.567-5.059%200-1.12-.388-2.034-1.03-2.752.104-.259.447-1.302-.098-2.714%200%200-.838-.275-2.747%201.051A9.396%209.396%200%200%200%2010%204.958a9.375%209.375%200%200%200-2.503.345C5.586%203.977%204.746%204.252%204.746%204.252c-.543%201.412-.2%202.455-.097%202.714-.639.718-1.03%201.632-1.03%202.752%200%203.928%202.335%204.808%204.556%205.067-.286.256-.545.708-.635%201.371-.57.262-2.018.715-2.91-.852%200%200-.529-.985-1.533-1.057%200%200-.975-.013-.068.623%200%200%20.655.315%201.11%201.5%200%200%20.587%201.83%203.369%201.21.005.857.014%201.665.014%201.909%200%20.271-.184.588-.683.493C2.865%2018.627%200%2014.783%200%2010.253%200%204.59%204.478%200%2010%200%22%2F%3E%3C%2Fsvg%3E);
}

.icon-52pojie {
  border-radius: 2px;
  background: url(data:image/webp;base64,UklGRuACAABXRUJQVlA4INQCAADwDQCdASogACAAAgA0JbACdMoRwN6rwhLk8DPbV3ZB+s3AnWYI0EzNEBGAjdm8EcT/mv9j71DUCvEv9V5GfGLf1//j+jt8y+YL5m/7fuB/yT+u/9LrX+iN+2B2kI6KU27wc6a/u+X62nIK8nYxo+dTDU6qcdCldQAA9r1HSL7Vs8D2ScE6H5fjtcqW2NjVGzUGP1OH28rkx9HXf8qChadA55EAPmSw0njNPP8WbHS+gjg2EOorfqYnt+WsVsnJAULZo+uQaQ7y9bUgwtLA+Zdjpr92Mq9XOFP11NobVpGBO5B+q3t7SHrQrapeVdoj8SCxRKgr/q407h9GTH+sUfVk/+g73Hn5pH9Tf0/LGux+xNm/kFg/nJlV7C8tL8tkZXiXhfYXTysZV1t9wGeFfhONENLzdpv+4tG+60Ro+c6/oL35d8EWo9JMMyGeYLk+c3k1aKUj6ce8xrpnl1h6/JMiAyj05rb1+SxIS/rpueuwsLqRtjz93ufJ3BPH0v44kV3+545pP7aX+kwBk/RloVSaadVf8rCixVftY7SgRxxvr5zY3jf+Db0Hv1fknx00n9az+8Or8/0m4waYE6L+xpn3Tdhf2JBXtclgVaqZ17kF0+2dQ6QbOQ7fzqTqdthC1/vQxX+TaNjaVMGiINawTnhKYCAUVTbGwEMq9GU1cGkb5uo3UY439iHJuvHdabCtAehOP/MuCTwWUR+gWsF/JqfUIei2UTlEH4DgoIwfRvid6XUHH08OrspAMBCJX/oDfI4qbogS2zdRM/MwwBzIvH6C8jU4U1V+Y7sh4EIvfw5JhSmrb/wtCq0ZPryX5FvhjC8n3ieppckEXx9tKfTReB+jTPiIxWrrhsc4GJj1iF0Nrv/OPpfHHJ/P/7CItHcDI1wo6ehVnLSnjsLV/16WyxtbCheTRwzeTJc9WNlqZ3VUT1uvwyAn4w6e2dT25FcM7EP38AAA);
  background-size: contain;
}

a[rel^='license'] {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  color: inherit;
  border-bottom: #ccc 1px dotted;
}

a[rel^='license']:hover {
  text-decoration: none;
  border-bottom-style: dashed;
  opacity: 0.8;
}

.icon-license {
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20width%3D%22200%22%20height%3D%2264%22%20version%3D%221.0%22%20viewBox%3D%225.5%20-3.5%20200%2064%22%3E%3Ccircle%20cx%3D%2237.785%22%20cy%3D%2228.501%22%20r%3D%2228.836%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M37.441-3.5c8.951%200%2016.572%203.125%2022.857%209.372%203.008%203.009%205.295%206.448%206.857%2010.314%201.561%203.867%202.344%207.971%202.344%2012.314%200%204.381-.773%208.486-2.314%2012.313-1.543%203.828-3.82%207.21-6.828%2010.143-3.123%203.085-6.666%205.448-10.629%207.086-3.961%201.638-8.057%202.457-12.285%202.457s-8.276-.808-12.143-2.429c-3.866-1.618-7.333-3.961-10.4-7.027-3.067-3.066-5.4-6.524-7-10.372-1.6-3.848-2.4-7.904-2.4-12.171%200-4.229.809-8.295%202.428-12.2%201.619-3.905%203.972-7.4%207.057-10.486C21.08-.394%2028.565-3.5%2037.441-3.5Zm.116%205.772c-7.314%200-13.467%202.553-18.458%207.657-2.515%202.553-4.448%205.419-5.8%208.6a25.204%2025.204%200%200%200-2.029%209.972c0%203.429.675%206.734%202.029%209.913%201.353%203.183%203.285%206.021%205.8%208.516%202.514%202.496%205.351%204.399%208.515%205.715a25.652%2025.652%200%200%200%209.943%201.971c3.428%200%206.75-.665%209.973-1.999%203.219-1.335%206.121-3.257%208.713-5.771%204.99-4.876%207.484-10.99%207.484-18.344%200-3.543-.648-6.895-1.943-10.057-1.293-3.162-3.18-5.98-5.654-8.458-5.146-5.143-11.335-7.715-18.573-7.715Zm-.401%2020.915-4.287%202.229c-.458-.951-1.019-1.619-1.685-2-.667-.38-1.286-.571-1.858-.571-2.856%200-4.286%201.885-4.286%205.657%200%201.714.362%203.084%201.085%204.113.724%201.029%201.791%201.544%203.201%201.544%201.867%200%203.181-.915%203.944-2.743l3.942%202c-.838%201.563-2%202.791-3.486%203.686-1.484.896-3.123%201.343-4.914%201.343-2.857%200-5.163-.875-6.915-2.629-1.752-1.752-2.628-4.19-2.628-7.313%200-3.048.886-5.466%202.657-7.257%201.771-1.79%204.009-2.686%206.715-2.686%203.963-.002%206.8%201.541%208.515%204.627zm18.457%200-4.229%202.229c-.457-.951-1.02-1.619-1.686-2-.668-.38-1.307-.571-1.914-.571-2.857%200-4.287%201.885-4.287%205.657%200%201.714.363%203.084%201.086%204.113.723%201.029%201.789%201.544%203.201%201.544%201.865%200%203.18-.915%203.941-2.743l4%202c-.875%201.563-2.057%202.791-3.541%203.686a9.233%209.233%200%200%201-4.857%201.343c-2.896%200-5.209-.875-6.941-2.629-1.736-1.752-2.602-4.19-2.602-7.313%200-3.048.885-5.466%202.658-7.257%201.77-1.79%204.008-2.686%206.713-2.686%203.962-.002%206.783%201.541%208.458%204.627z%22%2F%3E%3Cg%20transform%3D%22translate(68)%22%3E%3Ccircle%20cx%3D%2237.637%22%20cy%3D%2228.806%22%20r%3D%2228.276%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M37.443-3.5c8.988%200%2016.57%203.085%2022.742%209.257C66.393%2011.967%2069.5%2019.548%2069.5%2028.5c0%208.991-3.049%2016.476-9.145%2022.456-6.476%206.363-14.113%209.544-22.912%209.544-8.649%200-16.153-3.144-22.514-9.43C8.644%2044.784%205.5%2037.262%205.5%2028.5c0-8.761%203.144-16.342%209.429-22.742C21.101-.415%2028.604-3.5%2037.443-3.5Zm.114%205.772c-7.276%200-13.428%202.553-18.457%207.657-5.22%205.334-7.829%2011.525-7.829%2018.572%200%207.086%202.59%2013.22%207.77%2018.398%205.181%205.182%2011.352%207.771%2018.514%207.771%207.123%200%2013.334-2.607%2018.629-7.828%205.029-4.838%207.543-10.952%207.543-18.343%200-7.276-2.553-13.465-7.656-18.571-5.104-5.104-11.276-7.656-18.514-7.656Zm8.572%2018.285v13.085h-3.656v15.542h-9.944V33.643h-3.656V20.557c0-.572.2-1.057.599-1.457.401-.399.887-.6%201.457-.6h13.144c.533%200%201.01.2%201.428.6.417.4.628.886.628%201.457zm-13.087-8.228c0-3.008%201.485-4.514%204.458-4.514s4.457%201.504%204.457%204.514c0%202.971-1.486%204.457-4.457%204.457s-4.458-1.486-4.458-4.457z%22%2F%3E%3Cg%20transform%3D%22translate(68)%22%3E%3Ccircle%20cx%3D%2237.47%22%20cy%3D%2228.736%22%20r%3D%2229.471%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M37.442-3.5c8.99%200%2016.571%203.085%2022.743%209.256C66.393%2011.928%2069.5%2019.509%2069.5%2028.5c0%208.992-3.048%2016.476-9.145%2022.458C53.88%2057.32%2046.241%2060.5%2037.442%2060.5c-8.686%200-16.19-3.162-22.513-9.485C8.644%2044.728%205.5%2037.225%205.5%2028.5c0-8.762%203.144-16.343%209.429-22.743C21.1-.414%2028.604-3.5%2037.442-3.5ZM12.7%2019.872c-.952%202.628-1.429%205.505-1.429%208.629%200%207.086%202.59%2013.22%207.77%2018.4%205.219%205.144%2011.391%207.715%2018.514%207.715%207.201%200%2013.409-2.608%2018.63-7.829%201.867-1.79%203.332-3.657%204.398-5.602l-12.056-5.371c-.421%202.02-1.439%203.667-3.057%204.942-1.622%201.276-3.535%202.011-5.744%202.2v4.915h-3.714v-4.915c-3.543-.036-6.782-1.312-9.714-3.827l4.4-4.457c2.094%201.942%204.476%202.913%207.143%202.913%201.104%200%202.048-.246%202.83-.743.78-.494%201.172-1.312%201.172-2.457%200-.801-.287-1.448-.858-1.943L37.9%2031.127l-3.771-1.715-5.086-2.229ZM37.557%202.214c-7.276%200-13.428%202.571-18.457%207.714a30.623%2030.623%200%200%200-3.543%204.287L27.786%2019.7c.533-1.676%201.542-3.019%203.029-4.028%201.484-1.009%203.218-1.571%205.2-1.686V9.071h3.715v4.915c2.934.153%205.6%201.143%208%202.971l-4.172%204.286c-1.793-1.257-3.619-1.885-5.486-1.885-.991%200-1.876.191-2.656.571-.781.381-1.172%201.029-1.172%201.943%200%20.267.095.533.285.8l4.057%201.83%202.8%201.257%205.144%202.285%2016.397%207.314a29.51%2029.51%200%200%200%20.801-6.857c0-7.353-2.552-13.543-7.656-18.573-5.067-5.143-11.241-7.714-18.515-7.714Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: contain;
  width: 3rem;
  height: 1em;
}

blockquote {
  position: relative;
  padding: 0.5em 2.5em;
  background: #333;

  &::before {
    content: '“';
    position: absolute;
    left: 0.75em;
    font-size: 1.5em;
    color: #888;
  }
}

body {
  font-family: system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Source Han Sans SC', 'Microsoft YaHei', sans-serif;
}

.header,
pre code,
code,
h1,
h2,
h3,
h4,
h5,
h6,
.postTitle,
.postMetadata {
  font-family: 'Fira Mono', 'Ubuntu Mono', 'Noto Sans Mono CJK SC', 'Microsoft YaHei UI', monospace;
}

pre code {
  font-size: 0.8em;
}

table {
  border-collapse: collapse;
}

table th {
  background: #1a1a1a;
  padding: 0.25em 0.5em;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 0.25em 0.5em;
}

figure {
  margin: 0 1em;
}

figcaption {
  font-size: 0.85em;
  text-align: center;
  opacity: 0.85;

  p {
    margin: 0.2em 0;
  }
}

.div-center {
  margin-left: auto;
  margin-right: auto;
}

figure.fig-image-small {
  max-width: 300px;
}
